.footer {
  width: 100%;
  height: 76px;
  background-color: #FBFBFB;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__text {
  font-family: 'Manrope', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16.39px;
  color: #00000080;
}
