@media (width <= 768px) {
  main {
    padding-top: 153px;
  }

  .table__indexes {
    display: none;
  }

  .table {
    width: 328px;
    height: 782px;
    padding: 24px 0px 0px 0px;
  }

  .table__main {
    flex-direction: column;
    padding-bottom: 0px;
  }

  .table__main-bin {
    padding-left: 12px;
  }

  .table__coin-bin {
    display: none;
  }

  .table__coin-bnb {
    display: flex;
    gap: 8px;
    font-size: 52px;
    font-weight: 700;
    line-height: 62px;
    padding-bottom: 17px;
  }

  .table__main-market {
    padding: 24px 16px;
  }

  .table__main-market > div {
    width: 295px;
    height: 48px;
    padding: 0;
  }

  .table__indexes-mobile {
    display: block;
  }

  .table__indexes-mobile > div {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e6e6e6;
    padding: 24px 16px 30px 16px;
    gap: 16px;
  }

  .table__indexes-mobile > div > div {
    display: flex;
    justify-content: space-between;
  }

  .table__indexes-mobile {
    font-size: 14px;
    line-height: 19.12px;
  }
}
